version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      timezone: Asia/Tokyo
    allow:
      - dependency-type: all
    rebase-strategy: auto
    assignees:
      - poad
    cooldown:
      default-days: 3
    groups:
      actions:
        patterns:
          - '*'

  - package-ecosystem: npm
    directories:
      - '/'
      - '/common/core/'
      - '/common/backend/'
      - '/agents/agent-mastra/'
      - '/agents/agent-claude-agent-sdk/'
      - '/agents/agent-strands/'
      - '/agents/agents-langchain/'
      - '/agents/agents-langchain-nextjs/'
      - '/basic/cdk/'
      - '/basic/app/'
      - '/mcp/clients/mastra-mcp-client/'
      - '/mcp/clients/mcp-client-http/'
      - '/mcp/clients/mcp-client-typescript/'
      - '/mcp/servers/postgresql-http/'
      - '/mcp/servers/weather/'
      - '/mcp/servers/weather-http/'
      - '/mcp/servers/resource-mcp-server/'
      - '/rag/app/'
      - '/rag/batch/'
      - '/rag/cdk/'
      - '/chat-app/'
    schedule:
      interval: daily
      timezone: Asia/Tokyo
    cooldown:
      default-days: 3
      exclude:
        - 'pnpm'
    allow:
      - dependency-type: all
    rebase-strategy: auto
    assignees:
      - poad
    groups:
      npm:
        patterns:
          - '*'
