name: Build and Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
    - main

  workflow_dispatch:

jobs:
  lint-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Use Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 'lts/*'
        check-latest: true
        package-manager-cache: false

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      name: Install pnpm
      with:
        run_install: |
          - recursive: true

    - name: Build
      run: |
        pnpm --filter @llm-ts-example/common-core build
        pnpm --filter @llm-ts-example/common-backend build

    - name: Debug workspace links
      run: |
        pnpm list -r --depth 0
        pnpm why @llm-ts-example/common-backend

    - name: Build all packages
      run: pnpm build

    - name: lint
      run: pnpm lint
